.navigation {
    background-color: var(--secondary-color);
    width: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    top: 0;
    bottom: 0;
    transition: all 1s;
}
.navigation:hover {
    width: 206px;
}
.navigation:hover * {
    opacity: 100%;
}

.logo {
    align-self: center;
    padding-top: 52px;
}
.bar {
    height: 2px;
    background-color: var(--inactive-color);
    align-self: center;
    width: 62%;
    margin-bottom: 32px;
}
.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 0;
    text-decoration: none;
    color: transparent;
    background-color: var(--secondary-color);
    overflow: hidden;
}
.link {
    text-decoration: none;
    padding-left: 19px;
    color: var(--inactive-color);
    opacity: 0;
}
.link:hover {
    text-decoration: underline;
}
.highlight .link {
    color: var(--main-color);
}
.icon-container {
    display: flex;
    min-width: 40px;
    justify-content: center;
}